<a href="https://colab.research.google.com/github/19PA1A0474/code-era/blob/master/HEADACHE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDAS DATAFRAME**

In [0]:
import pandas as pd

## **READING DATA**

In [0]:
fb=pd.read_csv("facebook-data.zip")

In [7]:
fb

        userid  age  ...  www_likes  www_likes_received
0      2094382   14  ...          0                   0
1      1192601   14  ...          0                   0
2      2083884   14  ...          0                   0
3      1203168   14  ...          0                   0
4      1733186   14  ...          0                   0
...        ...  ...  ...        ...                 ...
98998  1268299   68  ...        491                6202
98999  1256153   18  ...          2                2820
99000  1195943   15  ...          0                1092
99001  1468023   23  ...          0                 756
99002  1397896   39  ...          0                2913

[99003 rows x 15 columns]

# checking dimensions

By using the shape method on data frame we get the dimensions

In [8]:
print(fb.shape)

(99003, 15)

## Head method

we can print the top values of the dataframe using head method

In [9]:
##getting top 5 values using head method
fb.head(5)

    userid  age  dob_day  ...  mobile_likes_received  www_likes www_likes_received
0  2094382   14       19  ...                      0          0                  0
1  1192601   14        2  ...                      0          0                  0
2  2083884   14       16  ...                      0          0                  0
3  1203168   14       25  ...                      0          0                  0
4  1733186   14        4  ...                      0          0                  0

[5 rows x 15 columns]

# Tail method
we can print the bottom values of the dataframe using tail method

In [15]:
##getting bottom values using tail method
fb.tail(5)

         dob_day  dob_year  ...  www_likes www_likes_received
userid                      ...
1268299        4      1945  ...        491               6202
1256153       12      1995  ...          2               2820
1195943       10      1998  ...          0               1092
1468023       11      1990  ...          0                756
1397896       15      1974  ...          0               2913

[5 rows x 13 columns]

You can import your own data into Colab notebooks from your Google Drive account, including from spreadsheets, as well as from Github and many other sources. To learn more about importing data, and how Colab can be used for data science, see the links below under [Working with Data](#working-with-data).

##COLUMN NAMES
we can get names of the columns in the dataframe

In [10]:
print(fb.columns)

Index(['userid', 'age', 'dob_day', 'dob_year', 'dob_month', 'gender', 'tenure',
       'friend_count', 'friendships_initiated', 'likes', 'likes_received',
       'mobile_likes', 'mobile_likes_received', 'www_likes',
       'www_likes_received'],
      dtype='object')

## dtypes

In [11]:
## .dtypes gives data types for each column
print(fb.dtypes)

userid                     int64
age                        int64
dob_day                    int64
dob_year                   int64
dob_month                  int64
gender                    object
tenure                   float64
friend_count               int64
friendships_initiated      int64
likes                      int64
likes_received             int64
mobile_likes               int64
mobile_likes_received      int64
www_likes                  int64
www_likes_received         int64
dtype: object

##setting user_id as row index

In [13]:
fb.set_index(['userid'],inplace=True)
fb.head(3)

         dob_day  dob_year  ...  www_likes www_likes_received
userid                      ...
2094382       19      1999  ...          0                  0
1192601        2      1999  ...          0                  0
2083884       16      1999  ...          0                  0

[3 rows x 13 columns]

## Summary statistics

In [14]:
fb.describe()

            dob_day      dob_year  ...     www_likes  www_likes_received
count  99003.000000  99003.000000  ...  99003.000000        99003.000000
mean      14.530408   1975.719776  ...     49.962425           58.568831
std        9.015606     22.589748  ...    285.560152          601.416348
min        1.000000   1900.000000  ...      0.000000            0.000000
25%        7.000000   1963.000000  ...      0.000000            0.000000
50%       14.000000   1985.000000  ...      0.000000            2.000000
75%       22.000000   1993.000000  ...      7.000000           20.000000
max       31.000000   2000.000000  ...  14865.000000       129953.000000

[8 rows x 12 columns]

## Calculate the sum column wise
we can add the values in columns

In [16]:
fb.sum()

dob_day                    1438554.0
dob_year                 195602185.0
dob_month                   622072.0
tenure                    53251388.0
friend_count              19439317.0
friendships_initiated     10638117.0
likes                     15452268.0
likes_received            14126675.0
mobile_likes              10505832.0
mobile_likes_received      8328181.0
www_likes                  4946430.0
www_likes_received         5798490.0
dtype: float64

In [20]:
#we can also add specific columns only
fb['likes'].sum()

15452268

# Renaming columns

In [30]:
fb.rename(columns={"dob_day":"dob"})

         dob  dob_year  ...  www_likes www_likes_received
userid                  ...
2094382   19      1999  ...          0                  0
1192601    2      1999  ...          0                  0
2083884   16      1999  ...          0                  0
1203168   25      1999  ...          0                  0
1733186    4      1999  ...          0                  0
...      ...       ...  ...        ...                ...
1268299    4      1945  ...        491               6202
1256153   12      1995  ...          2               2820
1195943   10      1998  ...          0               1092
1468023   11      1990  ...          0                756
1397896   15      1974  ...          0               2913

[99003 rows x 13 columns]

# .loc()
we can access data using loc function    ##through labels

In [37]:
fb.loc[2083884]

dob_day                    16
dob_year                 1999
dob_month                  11
gender                   male
tenure                     13
friend_count                0
friendships_initiated       0
likes                       0
likes_received              0
mobile_likes                0
mobile_likes_received       0
www_likes                   0
www_likes_received          0
Name: 2083884, dtype: object

In [39]:
##we can also access data of a particular column
fb.loc[:,"gender"]

userid
2094382      male
1192601    female
2083884      male
1203168    female
1733186      male
            ...
1268299    female
1256153    female
1195943    female
1468023    female
1397896    female
Name: gender, Length: 99003, dtype: object

# .iloc()
 To get purely integer based indexing we use iloc

In [42]:
fb.iloc[:,0:5]

         dob_day  dob_year  dob_month  gender  tenure
userid
2094382       19      1999         11    male   266.0
1192601        2      1999         11  female     6.0
2083884       16      1999         11    male    13.0
1203168       25      1999         12  female    93.0
1733186        4      1999         12    male    82.0
...          ...       ...        ...     ...     ...
1268299        4      1945          4  female   541.0
1256153       12      1995          3  female    21.0
1195943       10      1998          5  female   111.0
1468023       11      1990          4  female   416.0
1397896       15      1974          5  female   397.0

[99003 rows x 5 columns]

## finding for NA's in data

In [43]:
fb.isna()

         dob_day  dob_year  ...  www_likes  www_likes_received
userid                      ...
2094382    False     False  ...      False               False
1192601    False     False  ...      False               False
2083884    False     False  ...      False               False
1203168    False     False  ...      False               False
1733186    False     False  ...      False               False
...          ...       ...  ...        ...                 ...
1268299    False     False  ...      False               False
1256153    False     False  ...      False               False
1195943    False     False  ...      False               False
1468023    False     False  ...      False               False
1397896    False     False  ...      False               False

[99003 rows x 13 columns]

## More Resources

### Working with Notebooks in Colab
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 in Colab](/notebooks/tensorflow_version.ipynb)

<a name="working-with-data"></a>
### Working with Data
- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb) 
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

### Machine Learning Crash Course
These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Tensorflow concepts](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [First steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Intro to neural nets](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Intro to sparse data and embeddings](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

<a name="using-accelerated-hardware"></a>
### Using Accelerated Hardware
- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

<a name="machine-learning-examples"></a>

## Machine Learning Examples

To see end-to-end examples of the interactive machine learning analyses that Colaboratory makes possible, check out the [Seedbank](https://research.google.com/seedbank/) project.

A few featured examples:

- [Neural Style Transfer](https://research.google.com/seedbank/seed/neural_style_transfer_with_tfkeras): Use deep learning to transfer style between images.
- [EZ NSynth](https://research.google.com/seedbank/seed/ez_nsynth): Synthesize audio with WaveNet auto-encoders.
- [Fashion MNIST with Keras and TPUs](https://research.google.com/seedbank/seed/fashion_mnist_with_keras_and_tpus): Classify fashion-related images with deep learning.
- [DeepDream](https://research.google.com/seedbank/seed/deepdream): Produce DeepDream images from your own photos.
- [Convolutional VAE](https://research.google.com/seedbank/seed/convolutional_vae): Create a generative model of handwritten digits.