<a href="https://colab.research.google.com/github/19PA1A0474/code-era/blob/master/HEADACHE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDAS DATAFRAME**

In [0]:
import pandas as pd

## **READING DATA**

In [0]:
fb=pd.read_csv("facebook-data.zip")

In [10]:
fb

        userid  age  ...  www_likes  www_likes_received
0      2094382   14  ...          0                   0
1      1192601   14  ...          0                   0
2      2083884   14  ...          0                   0
3      1203168   14  ...          0                   0
4      1733186   14  ...          0                   0
...        ...  ...  ...        ...                 ...
98998  1268299   68  ...        491                6202
98999  1256153   18  ...          2                2820
99000  1195943   15  ...          0                1092
99001  1468023   23  ...          0                 756
99002  1397896   39  ...          0                2913

[99003 rows x 15 columns]

# **CHECKING DATA DIMENSIONS**

By using the shape method on data frame we get the dimensions

In [11]:
print(fb.shape)

(99003, 15)

## Head method

we can print the top values of the dataframe using head method

In [13]:
##getting top 5 values using head method
fb.head(5)

    userid  age  dob_day  ...  mobile_likes_received  www_likes www_likes_received
0  2094382   14       19  ...                      0          0                  0
1  1192601   14        2  ...                      0          0                  0
2  2083884   14       16  ...                      0          0                  0
3  1203168   14       25  ...                      0          0                  0
4  1733186   14        4  ...                      0          0                  0

[5 rows x 15 columns]

You can import your own data into Colab notebooks from your Google Drive account, including from spreadsheets, as well as from Github and many other sources. To learn more about importing data, and how Colab can be used for data science, see the links below under [Working with Data](#working-with-data).

##COLUMN NAMES
we can get names of the columns in the dataframe

In [15]:
print(fb.columns)

Index(['userid', 'age', 'dob_day', 'dob_year', 'dob_month', 'gender', 'tenure',
       'friend_count', 'friendships_initiated', 'likes', 'likes_received',
       'mobile_likes', 'mobile_likes_received', 'www_likes',
       'www_likes_received'],
      dtype='object')

## dtypes

In [16]:
## .dtypes gives data types for each column
print(fb.dtypes)

userid                     int64
age                        int64
dob_day                    int64
dob_year                   int64
dob_month                  int64
gender                    object
tenure                   float64
friend_count               int64
friendships_initiated      int64
likes                      int64
likes_received             int64
mobile_likes               int64
mobile_likes_received      int64
www_likes                  int64
www_likes_received         int64
dtype: object

##setting user_id as row index

In [0]:
fb.set_index(['age'],inplace=True)
fb.head(3)

## Summary statistics

In [34]:
fb.describe()

            dob_day      dob_year  ...     www_likes  www_likes_received
count  99003.000000  99003.000000  ...  99003.000000        99003.000000
mean      14.530408   1975.719776  ...     49.962425           58.568831
std        9.015606     22.589748  ...    285.560152          601.416348
min        1.000000   1900.000000  ...      0.000000            0.000000
25%        7.000000   1963.000000  ...      0.000000            0.000000
50%       14.000000   1985.000000  ...      0.000000            2.000000
75%       22.000000   1993.000000  ...      7.000000           20.000000
max       31.000000   2000.000000  ...  14865.000000       129953.000000

[8 rows x 10 columns]

## Dropping columns
using drop method we can drop columns

In [39]:
fb.drop(['www_likes'], axis=1, inplace=True)
fb

KeyError: ignored

## More Resources

### Working with Notebooks in Colab
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 in Colab](/notebooks/tensorflow_version.ipynb)

<a name="working-with-data"></a>
### Working with Data
- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb) 
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

### Machine Learning Crash Course
These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Tensorflow concepts](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [First steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Intro to neural nets](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Intro to sparse data and embeddings](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

<a name="using-accelerated-hardware"></a>
### Using Accelerated Hardware
- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

<a name="machine-learning-examples"></a>

## Machine Learning Examples

To see end-to-end examples of the interactive machine learning analyses that Colaboratory makes possible, check out the [Seedbank](https://research.google.com/seedbank/) project.

A few featured examples:

- [Neural Style Transfer](https://research.google.com/seedbank/seed/neural_style_transfer_with_tfkeras): Use deep learning to transfer style between images.
- [EZ NSynth](https://research.google.com/seedbank/seed/ez_nsynth): Synthesize audio with WaveNet auto-encoders.
- [Fashion MNIST with Keras and TPUs](https://research.google.com/seedbank/seed/fashion_mnist_with_keras_and_tpus): Classify fashion-related images with deep learning.
- [DeepDream](https://research.google.com/seedbank/seed/deepdream): Produce DeepDream images from your own photos.
- [Convolutional VAE](https://research.google.com/seedbank/seed/convolutional_vae): Create a generative model of handwritten digits.