<a href="https://colab.research.google.com/github/19PA1A0474/code-era/blob/master/knn%20model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables

from sklearn.neighbors import KNeighborsRegressor # for using the model
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn import metrics

In [31]:
df=pd.read_csv("students_placement_data.csv")
df

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [32]:
x=df[['SSC Percentage','inter_Diploma_percentage']]
y=df['B.Tech_percentage']
type(y)

pandas.core.series.Series

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state = 0)

In [0]:
model=KNeighborsRegressor(n_neighbors=2,p=1)

In [39]:
model.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=2, p=1,
                    weights='uniform')

In [0]:
predicted=model.predict(x_test)

In [41]:
actual_predicted=pd.DataFrame({"actual":y_test,"predicted":predicted})
actual_predicted

     actual  predicted
10    71.49     56.845
59    81.10     76.575
95    62.98     52.900
91    68.70     60.485
7     61.02     61.850
86    60.53     47.640
26    61.00     67.590
112   35.84     57.510
22    68.30     69.190
94    69.62     62.340
101   83.38     71.900
2     45.26     53.440
50    78.00     71.795
24    54.18     75.545
116   65.53     69.190
62    52.00     51.000
93    51.00     57.875
74    73.13     57.365
61    74.30     72.295
73    63.41     67.590
16    70.01     71.025
108   55.70     62.680
13    74.96     65.190
43    70.85     70.380

In [42]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predicted))

Mean Squared Error: 96.18642187499995

In [45]:
mse_val = [] #to store mse values for different k
for K in range(5): # Let's check the value of k upto 5
  K = K+1
  model = KNeighborsRegressor(n_neighbors = K)
  model.fit(x_train, y_train) #fit the model
  pred=model.predict(x_test) #make prediction on test set
  error = metrics.mean_squared_error(y_test,pred) #calculate rmse
  mse_val.append(error) #store mse values
  print('MSE value for k= ' , K , 'is:', error)

MSE value for k=  1 is: 132.47814999999994
MSE value for k=  2 is: 89.74335833333332
MSE value for k=  3 is: 80.35485833333331
MSE value for k=  4 is: 91.89184921875
MSE value for k=  5 is: 80.50029466666663